<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:ns0="http://schemas.android.com/apk/res/android">
    <application ns0:allowBackup="true" ns0:icon="@mipmap/ic_launcher" ns0:label="@string/app_name" ns0:roundIcon="@mipmap/ic_launcher_round" ns0:supportsRtl="true" ns0:theme="@style/AppTheme">
        <activity ns0:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation" ns0:name=".MainActivity" ns0:label="@string/title_activity_main" ns0:theme="@style/AppTheme.NoActionBarLaunch" ns0:launchMode="singleTask" ns0:exported="true">
            <intent-filter>
                <action ns0:name="android.intent.action.MAIN" />
                <category ns0:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider ns0:name="androidx.core.content.FileProvider" ns0:authorities="${applicationId}.fileprovider" ns0:exported="false" ns0:grantUriPermissions="true">
            <meta-data ns0:name="android.support.FILE_PROVIDER_PATHS" ns0:resource="@xml/file_paths" />
        </provider>
        <meta-data ns0:name="com.google.android.gms.ads.APPLICATION_ID" ns0:value="ca-app-pub-8854680295966508~9040410248" />
    </application>
    <uses-permission ns0:name="android.permission.INTERNET" />
</manifest>